.like-styles {
  height: 20px;
  width: 19px;
  fill: #C7C7C7;
}

.like-styles:hover {
  width: 23px;
  height: 21.85px;
  fill: #A4A4A4;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  transition-property: all;
  transition-duration: 0.2s;
}

.like-styles:active {
  height: 20px;
  width: 19px;
  fill: #00A0AB;
  transition-property: all;
  transition-duration: 0.2s;
}

.asf {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 92px 156px;

}

.link {
  text-decoration: none;
}

.vision-off {
  opacity: 0;
  visibility: hidden;
}

.slider-img {
  width: 260px !important;
  height: 260px !important;
  position: relative;
}